*{
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: rgb(244, 244, 244);
}

.light{
    font-weight: 300;
}

h3{
    font-weight: 300;
}

footer{
    background-color: black;
    width:95vw;
    height:300px;
    margin: 0px auto;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 50px;
}
section{
    margin: 10px;
}

h1{
    font-size: 250px;
}